{% extends molecule('category-card') %}

{% define config = {
    name: 'category-list-item'
} %}

{% block body %}
    <div class="{{config.name}}__container box">
        <div class="grid grid--stretch">
            {% block imageContainer %}
                <div class="col col--sm-3 col--md-2 col--middle">
                    {% block image %}
                        <a href="{{ data.url }}">
                            {% widget 'CategoryImageStorageWidget' args [data.id, data.name] only %}{% endwidget %}
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}

            <div class="col col--sm-6 col--md-7 col--xl-8 col--middle">
                {% block name %}
                    <strong>{{ data.name }}</strong>
                {% endblock %}
            </div>

            {% block actionsContainer %}
                <div class="col col--sm-3 col--xl-2 col--middle">
                    {% block actions %}
                        <a class="button button--expand" href="{{ data.url }}">
                            {{ 'product.view' | trans }}
                            {% include atom('icon') with {
                                modifiers: ['small'],
                                data: {
                                    name: 'angle-double-right'
                                }
                            } only %}
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
