{% extends model('component') %}

{% define config = {
    name: 'product-item',
    tag: 'article',
} %}

{% define data = {
    product: required,
    name: data.product.name | default,
    sku: data.product.sku | default,
    url: data.product.url | default,
    image: data.product.images ? data.product.images.0.externalUrlSmall | default,
    idProductAbstract: data.product.idProductAbstract | default,
} %}

{% block class -%}
    {{ parent() }} box
{%- endblock %}

{% block body %}
    {% block imageContainer %}
        <a href="{{ path(data.url) }}">
            {% block image %}
                {% include atom('thumbnail') with {
                    class: 'js-product-color-group__image-' ~ data.idProductAbstract,
                    attributes: {
                        src: data.image,
                        alt: data.name,
                    },
                } only %}
            {% endblock %}
        </a>
    {% endblock %}

    {% block labels %}
        {% widget 'ProductAbstractLabelWidget' args [data.idProductAbstract] only %}{% endwidget %}
    {% endblock %}

    {% block groups %}
        {% widget 'ProductGroupWidget' args [data.idProductAbstract] only %}{% endwidget %}
    {% endblock %}

    {% block colors %}
        {% widget 'ExampleProductColorSelectorWidget' args [data.idProductAbstract] use view('product-color-selector',
            'ExampleProductColorGroupWidget') only %}{% endwidget %}
    {% endblock %}

    {% block content %}
        {% block name %}
            {% if data.name %}
                <a class="{{ config.name }}__name" href="{{ path(data.url) }}">{{ data.name }}</a>
            {% endif %}
        {% endblock %}

        {% block sku %}
            {% if data.sku %}
                <div>{{ data.sku }}</div>
            {% endif %}
        {% endblock %}

        {% block rating %}
            {% widget 'ProductAbstractReviewWidget' args [data.idProductAbstract] only %}{% endwidget %}
        {% endblock %}

        {% block priceContainer %}
            <div class="spacing-y">
                {% block price %}
                    {% if can('SeePricePermissionPlugin') and data.product.prices %}
                        {% include molecule('money-price') with {
                            data: {
                                amount: data.product.prices.DEFAULT,
                                originalAmount: data.product.prices.ORIGINAL | default(null),
                            },
                        } only %}
                    {% else %}
                        {{ 'customer.access.cannot_see_price' | trans }}
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endblock %}

    {% block actionsContainer %}
        <div class="{{ config.name }}__actions">
            {% block actions %}
                <a class="button button--expand" href="{{ path(data.url) }}">
                    {{- 'product.view' | trans -}}
                    {%- include atom('icon') with {
                        modifiers: ['small'],
                        data: {
                            name: 'angle-double-right',
                        },
                    } only -%}
                </a>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
