{% extends model('component') %}

{% define config = {
    name: 'color-selector',
    tag: 'color-selector',
} %}

{% define data = {
    items: required,
    selectionTag: 'button',
} %}

{% define attributes = {
    'active-item-class-name': config.name ~ '__item--active',
} %}

{% block component %}
    {% if data.items is not empty %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% block list %}
        <div class="{{ config.name }}__list">
            {% for item in data.items %}
                {% block item %}
                    {% set activeClassName = loop.first ? attributes['active-item-class-name'] %}
                    {% set backgroundColor = item.colorCode ? 'background-color: ' ~ item.colorCode ~ ';' %}

                    <{{ data.selectionTag }}
                            class="{{ config.name }}__item {{ activeClassName }} {{ config.jsName }}__item"
                            style="{{ backgroundColor }}"
                            {% block listDataAttributes %}{% endblock %}>
                    </{{ data.selectionTag }}>
                {% endblock %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
