{% extends template('page-layout-catalog', 'CatalogPage') %}

{% define data = {
    products: _view.products,
    facets: _view.facets,
    category: _view.category | default,
    categories: categories | default([]),
    categoryId: _view.idCategory | default,
    isEmptyCategoryFilterValueVisible: _view.isEmptyCategoryFilterValueVisible | default,
    filterPath: _view.filterPath | default,
    viewMode: _view.viewMode | default,

    title: _view.category.name | default,
    metaTitle: _view.pageTitle | default(_view.category.name | default),
    metaDescription: _view.pageDescription | default,
    metaKeywords: _view.pageKeywords | default,

    pagination: {
        parameters: app.request.query.all(),
        currentPage: _view.pagination.currentPage,
        paginationPath: app.request.getPathInfo(),
        maxPage: _view.pagination.maxPage,
        showAlwaysFirstAndLast: true
    }
} %}

{% block filterBar %}
    {{parent()}}

    {% if data.categoryId %}
        <div class="box">
            {% widget 'CatalogWithCmsBlockWidget' args [data.categoryId] use view('catalog-with-cms-block-middle', 'CmsBlockWidget') only %}
            {% nowidget %}
                {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'middle', data.categoryId) }}
            {% endwidget %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if data.categoryId %}
        <div class="box">
            {% widget 'CatalogWithCmsBlockWidget' args [data.categoryId] use view('catalog-with-cms-block-top', 'CmsBlockWidget') only %}
            {% nowidget %}
                {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'top', data.categoryId) }}
            {% endwidget %}
        </div>
    {% endif %}

    {{parent()}}

    {% if data.categoryId %}
        <div class="box">
            {% widget 'CatalogWithCmsBlockWidget' args [data.categoryId] use view('catalog-with-cms-block-bottom', 'CmsBlockWidget') only %}
            {% nowidget %}
                {{ widgetBlock('CatalogCmsBlockWidgetPlugin', 'bottom', data.categoryId) }}
            {% endwidget %}
        </div>
    {% endif %}
{% endblock %}
